env
__pycache__
.idea/workspace.xml
.idea
services/users/.env/
./services/users/.env
.env
.idea/
.idea/workspace.xml
services/users/htmlcov/
services/client/node_modules/
services/client/src/components/__tests__/__snapshots__/
services/client/src/components/__tests__/__snapshots__
services/client/coverage/